<div>
  <div *ngIf="account != null">
    <table class="collapse">
      <tr>
        <td>
          <h1>Welcome {{account.firstName}}!</h1>
          <p>You are logged in! You may choose from the following actions.</p>
          <p><button (click)="logout()">Log out</button></p>
          <p><button routerLink="/edit-user">Edit my profile</button></p>
          <p><button routerLink="/device-list">My devices</button></p>
        </td>
        <td>
          <h2>Name</h2>
          <p>{{account.firstName}} {{account.lastName}}</p>
          <h2>Username</h2>
          <p>{{account.username}}</p>
          <h2>User type</h2>
          <p>{{account.userType}}</p>
          <h2>Registration time</h2>
          <p>{{account.registrationTime * 1000 | date:'long'}}</p>
          <h2>Account id</h2>
          <p>{{account.id}}</p>
        </td>
      </tr>
    </table>
  </div>
</div>
