<div>
  <form (ngSubmit)="onSubmit()">
    <table class="collapse">
      <tr>
        <td class="labelbox"><label>Username:</label></td>
        <td><input type="text" required [(ngModel)]="model.username" name="username"></td>
      </tr>
      <tr>
        <td class="labelbox"><label>Password:</label></td>
        <td><input type="password" required [(ngModel)]="model.password" name="password"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="checkbox" [(ngModel)]="keepLoggedIn" name="keepLoggedIn" id="keepLoggedIn">
          <label for="keepLoggedIn">Keep logged in</label>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="submit" [disabled]="submitted">Submit</button>
        </td>
      </tr>
    </table>
  </form>
</div>
