<h1>User list</h1>
<p>
  <button routerLink="/add-user">Add user</button>
</p>
<div *ngIf="errorMessage != null">
  <p class="warning">{{errorMessage}}</p>
</div>
<div *ngIf="users == null">
  <p>Loading user list...</p>
</div>
<div *ngIf="users !=  null">
  <table class="list">
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>User type</th>
      <th>Registration time</th>
    </tr>
    <tr *ngFor="let user of users">
      <td><a routerLink="/view-user/{{user.id}}">{{user.username}}</a></td>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{user.userType}}</td>
      <td>{{user.registrationTime * 1000 | date:'long'}}</td>
    </tr>
  </table>
</div>
