<div [ngSwitch]="initializationStatus">
  <div *ngSwitchCase="InitializationStatus.Determining">
    <p>Contacting the server...</p>
  </div>
  <div *ngSwitchCase="InitializationStatus.FailedToDetermine">
    <p>Failed to contact the server...</p>
    <p><button (click)="retry()">Retry connection to the server</button></p>
  </div>
  <div *ngSwitchCase="InitializationStatus.NotInitialized">
    <app-first-user-credentials></app-first-user-credentials>
  </div>
  <div *ngSwitchCase="InitializationStatus.Initialized">
    <div *ngIf="account == null">
      <app-login-form></app-login-form>
    </div>
    <div *ngIf="account != null">
      <app-my-account></app-my-account>
    </div>
  </div>
</div>
