<div>
  <div *ngIf="!initializationDetermined">
    <div *ngIf="!initializationDeterminationFailed">Contacting the server...</div>
    <div *ngIf="initializationDeterminationFailed">
      <p>Failed to contact the server...</p>
      <p><a (click)="retry()">Retry connection to the server</a></p>
    </div>
  </div>
  <div *ngIf="initializationDetermined">
    <div *ngIf="!initialized">
      <app-first-user-credentials></app-first-user-credentials>
    </div>
    <div *ngIf="initialized">
      <div *ngIf="!authenticationDetermined">Determining if logged in or not...</div>
      <div *ngIf="authenticationDetermined">
        <div *ngIf="authenticated">
          <app-my-account></app-my-account>
        </div>
        <div *ngIf="!authenticated">
          <app-login-form></app-login-form>
        </div>
      </div>
    </div>
  </div>
</div>
