<form (ngSubmit)="onSubmit()">
  <div>
    <label>Server password:</label>
    <input type="password" required [(ngModel)]="model.serverPassword" name="serverPassword">
  </div>
  <div>
    <label>Username:</label>
    <input type="text" required [(ngModel)]="model.username" name="username">
  </div>
  <div>
    <label>Password:</label>
    <input type="password" required [(ngModel)]="model.password" name="password">
  </div>
  <div>
    <label>First name:</label>
    <input type="text" required [(ngModel)]="model.firstName" name="firstName">
  </div>
  <div>
    <label>Last name:</label>
    <input type="text" required [(ngModel)]="model.lastName" name="lastName">
  </div>
  <button type="submit" [disabled]="submitted">Submit</button>
</form>
