<div class="navigation">
  <div class="container">
    <table class="collapse">
      <tr>
        <td class="navigation-left">
          <ul>
            <li><a routerLink="/welcome">Welcome</a></li>
            <li><a routerLink="/user-list">Users</a></li>
            <li><a routerLink="/device-list">Devices</a></li>
          </ul>
        </td>
        <td class="navigation-right">
          <ul>
            <li><a routerLink="/about">About</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="title-skeleton">
  <div class="container"><div class="title"></div></div>
</div>
<div class="album-skeleton">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

