<div>
  <form (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Registration of the first administrator user</legend>
      <div>
        <label for="serverPassword">Server generated secret password</label>
        <input type="password" id="serverPassword" name="serverPassword" (ngModel)="serverPassword" maxlength="20" required>
      </div>
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" (ngModel)="username" maxlength="60" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" (ngModel)="password" maxlength="60" required>
      </div>
      <div>
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" (ngModel)="firstName" maxlength="60" required>
      </div>
      <div>
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" (ngModel)="lastName" maxlength="60" required>
      </div>
      <input type="submit">
    </fieldset>
  </form>
</div>
