<div>
  <div *ngIf="device == null && errorMessage == null">
    <p>Retrieving device details for {{id}}...</p>
  </div>
  <div *ngIf="errorMessage != null">
    <p class="warning">{{errorMessage}}</p>
  </div>
  <div *ngIf="device != null">
    <table class="collapse">
      <tr>
        <td>
          <h2>Identifier</h2>
          <p>{{device.id}}</p>
          <h2>Name</h2>
          <p>{{device.name}}</p>
          <h2>Description</h2>
          <p>{{device.description}}</p>
        </td>
        <td>
          <p><button routerLink="/edit-device/{{device.id}}">Edit</button></p>
          <p><button (click)="deleteDevice()">Delete</button></p>
          <p *ngIf="!showNewLogForm"><button (click)="addLog()">Add log</button></p>
        </td>
      </tr>
    </table>
  </div>
  <form #addLogForm="ngForm" (ngSubmit)="onSubmitLog()" *ngIf="showNewLogForm">
    <table class="collapse">
      <tr>
        <td class="labelbox"></td>
        <td><h1>Add a new log</h1></td>
      </tr>
      <tr>
        <td class="labelbox"><label>Date:</label></td>
        <td>
          <input type="date" [(ngModel)]="newLogDate" id="newLogDate" name="newLogDate">
          <input type="time" [(ngModel)]="newLogTime" id="newLogTime" name="newLogTime">
        </td>
      </tr>
      <tr>
        <td class="labelbox"><label for="metric1">Metric 1:</label></td>
        <td>
          <input type="number" [(ngModel)]="model.metric1" id="metric1" name="metric1" #metric1="ngModel">
          <span [hidden]="metric1.valid || metric1.pristine" class="warning">⚠️</span>
        </td>
      </tr>
      <tr>
        <td class="labelbox"><label for="metric2">Metric 2:</label></td>
        <td>
          <input type="number" [(ngModel)]="model.metric2" id="metric2" name="metric2" #metric2="ngModel">
          <span [hidden]="metric2.valid || metric2.pristine" class="warning">⚠️</span>
        </td>
      </tr>
      <tr>
        <td class="labelbox"><label for="metric3">Metric 3:</label></td>
        <td>
          <input type="number" [(ngModel)]="model.metric3" id="metric3" name="metric3" #metric3="ngModel">
          <span [hidden]="metric3.valid || metric3.pristine" class="warning">⚠️</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="warning"><p>{{newLogErrorMessage}}</p></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" [disabled]="logSubmitted || !addLogForm.form.valid">Submit</button></td>
      </tr>
    </table>
  </form>
  <form #aggregateLogsForm="ngForm" (ngSubmit)="onQueryLogs()">
    <table class="collapse">
      <tr>
        <td class="labelbox"></td>
        <td><h1>Query existing logs</h1></td>
      </tr>
      <tr>
        <td class="labelbox"><label for="offset">Timezone offset:</label></td>
        <td>
          <input type="number" [(ngModel)]="logAggregationRequestModel.offset" id="offset" name="offset" #offset="ngModel">
          <span [hidden]="offset.valid || offset.pristine" class="warning">⚠️</span>
        </td>
      </tr>
      <tr>
        <td class="labelbox"><label for="aggregationBy">Log aggregation:</label></td>
        <td>
          <select [(ngModel)]="logAggregationRequestModel.aggregationBy" id="aggregationBy" name="aggregationBy" #aggregationBy="ngModel" required>
            <option *ngFor="let logAggregationType of logAggregationTypes" [value]="logAggregationType" [label]="logAggregationType" [attr.selected]="logAggregationType==logAggregationRequestModel.aggregationBy ? true : null">{{logAggregationType}}</option>
          </select>
          <span [hidden]="aggregationBy.valid || aggregationBy.pristine" class="warning">⚠️</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="warning"><p>{{logAggregationErrorMessage}}</p></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" [disabled]="aggregationSubmitted || !aggregateLogsForm.form.valid">Query</button></td>
      </tr>
    </table>
  </form>
</div>
